langchain>=1.0.0a
langchain-openai
langchain-community
langgraph
langsmith
langchain-mcp-adapters
faiss-cpu
openai
chromadb
langchain-chroma
langchain-huggingface
beautifulsoup4
google-search-results
python-dotenv
tiktoken
mcp
sentence-transformers
pandas
